<!--<div class="ui container">
    <div class="ui action input">
        <input type="text" placeholder="Company name">
        <select class="ui compact selection dropdown">
            <option selected="" value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="ui left icon input">
        <input type="text" placeholder="Carload number">
        <i class="search icon"></i>
     </div>
     <div class="ui left icon input">
        <input type="text" placeholder="Invoice">
        <i class="search icon"></i>
     </div>
     <div class="ui left icon input">
        <input type="text" placeholder="Culture">
        <i class="search icon"></i>
     </div>
     <div class="ui left icon input">
        <input type="text" placeholder="Station">
        <i class="search icon"></i>
     </div>
     <div class = "ui center aligned container" id = "date">
         <button class = "ui button"><i class="sort content ascending icon"></i>By date down</button>
         <button class = "ui button"><i class="sort content descending icon"></i>By date up</button>
     </div> 
</div> -->
<div class = "row">
    <div class = "col-sm-2">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Company name
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </div>
    </div>
    <div class = "col-sm-2">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Carload number" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>
     <div class = "col-sm-2">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Invoice" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>
     <div class = "col-sm-2">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Culture" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>
     <div class = "col-sm-2">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Station" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>
    </div>
    <div class = "col-sm-2">
        <div class = "btn-group">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-sort-by-alphabet"></span> 
            </button>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-sort-by-alphabet-alt"></span> 
            </button>
        </div>
    </div>
</div>
