<div class="ui container">
    <div class="ui action input">
        <input type="text" placeholder="Company name">
        <select class="ui compact selection dropdown">
            <option selected="" value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="ui left icon input">
        <input type="text" placeholder="Carload number">
        <i class="search icon"></i>
     </div>
     <div class="ui left icon input">
        <input type="text" placeholder="Invoice">
        <i class="search icon"></i>
     </div>
     <div class="ui left icon input">
        <input type="text" placeholder="Culture">
        <i class="search icon"></i>
     </div>
     <div class="ui left icon input">
        <input type="text" placeholder="Station">
        <i class="search icon"></i>
     </div>
     <div class = "ui center aligned container" id = "date">
         <button class = "ui button"><i class="sort content ascending icon"></i>By date down</button>
         <button class = "ui button"><i class="sort content descending icon"></i>By date up</button>
     </div> 
    
</div>