<!--<nav class="ui center aligned attached menu">
    <div class="ui container">
        <div class="header item">
            <h1><i class="subway icon"></i>RailCars</h1>
        </div>
         <div class="header item">
            <h1><i class="Warning Circle icon"></i>Reports</h1>
        </div>
         <div class="header item">
            <h1><i class="configure icon"></i>Settings</h1>
        </div>
         <div class="header item">
            <h1><i class="User icon"></i>User</h1>
        </div>
    </div>
</nav>-->

    <div class="ui stackable menu">
        <a class = "item">RailCars</a>
        <a class="item">Reports</a>
        <a class="item">Settings</a>
        <a class="item">User</a>
    </div>
