<table class="ui celled table" id = "mainTable">
    <tr>
            <th>Владелец</th>
            <td>1</td>
    </tr>
    <tr>
        <th>Поставщик</th>
        <td>1</td>
    </tr>
    <tr>
        <th>Номер вагона</th>
        <td>1</td>
    </tr>
    <tr>
        <th>Номер накладной</th>
        <td>1</td>
    </tr>
    <tr>
            <th>Дата отгрузки</th>
            <td>1</td>
    </tr>
    <tr>
            <th>Экспедитор</th>
            <td>1</td>
    </tr>
    <tr>
            <th>Станция</th>
            <td>1</td>
    </tr>
    <tr>
            <th>Культура</th>
            <td>1</td>
    </tr>
    <tr>
            <th>Наличие ГМО</th>
            <td>1</td>
    </tr>
    <tr>
            <th>Сертификат качества</th>
            <td>1</td>
    </tr>
    <tr>
            <th>Дата внесения сертификата качества</th>
            <td>1</td>
    </tr>
    <tr>
            <th>Протокол безопасности</th>
            <td>1</td>
    </tr>
    <tr>
            <th>Брутто по накладной, кг</th>
            <td>1</td>
    </tr>
    <tr>
            <th>Тара по накладной, кг</th>
            <td>1</td>
    </tr>
    <tr>
         <th>Разрешение на выгрузку</th>
         <td>1</td>
    </tr>  

    <tr>
          <th>Нетто по накладной</th>
         <td>1</td>
    </tr>  

    <tr>
         <th >Взвешивание по брутто</th>
         <td>1</td>
    </tr>     
    <tr>
         <th>Обнаружение несоответствия на ИЗТ (дата, время)</th>
         <td>1</td>
    </tr> 
    <tr>
          <th>Взвешивание по таре</th>
         <td>1</td>
    </tr> 
    <tr>
        <th>Брутто на ИЗТ, кг</th>
         <td>1</td>
    </tr> 
       
  
      <tr>
        <th>Тара на ИЗТ, кг</th>
         <td>1</td>
    </tr> 
      <tr>
         <th>Нетто на ИЗТ, кг</th>
         <td>1</td>
    </tr> 
      <tr>
         <th>Разница по бруто, кг</th>
         <td>1</td>
    </tr> 

  <tr>
         <th>Разница по нетто, кг</th>           
         <td>1</td>
    </tr> 
    <tr>
         <th>Способ определения веса при отгрузке</th>
         <td>1</td>
    </tr> 
    <tr>
         <th>Причина задержки выгрузки вагона</th>
         <td>1</td>
    </tr> 
     <tr>
          <th>Разрешение на выгрузку</th>
         <td>1</td>
    </tr> 
     <tr>
         <th>Дополнительные маневровые роботы, ч</th>
         <td>1</td>
    </tr> 
        <tbody>
           
        </tbody>
 </table>