
    <td>{{ railcar.owner }}</td>
    <td>{{ railcar.furnisher }}</td>
    <td>{{ railcar.carloadNumber }}</td>
    <td>{{ railcar.numberInvoice }}</td>
    <td>{{ railcar.dateExtractInvoice }}</td>
    <td>{{ railcar.sender }}</td>
    <td>{{ railcar.stationSender }}</td>
    <td>{{ railcar.nameCulture }}</td>
    <td>{{ railcar.gmo }}</td>
    <td>{{ railcar.certificate }}</td>
    <td>{{ railcar.certificatedate }}</td>
    <td>{{ railcar.securityProtocol }}</td>
    <td>{{ railcar.weightBrrutoInvoice }}</td>
    <td>{{ railcar.weightTareInvoice }}</td>
    <td>{{ railcar.permisionResult }}</td>
    <td>{{ railcar.weightNetInvoice }}</td>
    <td>{{ railcar.bruttoTime }}</td>
    <td>{{ railcar.uncorrespondeseTime }}</td>
    <td>{{ railcar.tareTime }}</td>
    <td>{{ railcar.brutoIZT }}</td>
    <td>{{ railcar.netIZT }}</td>
    <td>{{ railcar.tareIZT }}</td>
    <td>{{ railcar.brutoDifference }}</td>
    <td>{{ railcar.netDifference }}</td>
    <td>{{ railcar.meansWeight }}</td>
    <td>{{ railcar.permisionTime }} / {{ railcar.permisionName }}</td>
